.MapMarker {
  background-color: red;
  font-family: "Oswald";
}
.popup {
  margin-top: 10px; //50% of marker
  background-color: #0000002f;
  position: relative;
  width: 700px;
  height: 100px;
  &Content {
    height: 100%;
    color: white;
    display: flex;
    font-size: 40px;
    font-family: "Oswald";
    align-items: center;
    // padding: 20px 40px;
  }
}
